{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "double"],
    "jsx-quotes": [2, "prefer-double"],
    "strict": [2, "never"],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 0,
    "babel/no-await-in-loop": 1,
    "react/react-in-jsx-scope": 2
  },
  "plugins": [
    "babel"
  ]
}
